@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.whatsapp{
    display: flex;
    position: fixed;
    align-items: center;
    top: 650px;
    left: 50px;
}
.whatsapp img{
    height: 60px;
}
.whatsapp p{
    font-size: 10px;
}
.parag{
    background-color: whitesmoke;
    padding: 4px 4px;
}
.parag span{
    font-weight: bold;
    color: rgb(54, 54, 68);
}
header{
    width: 100%;
    box-shadow: 0px 0.2px 0.15px 0.2px;
    border: 1px solid #F2F1EE;
    position: fixed;
    background-color: white;
    z-index: 1;
    top: 0;
}
nav{
    width: 70%;
    min-height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-angle-down{
    margin-left: 5px;
    font-size: 12px;
}
.logo{
    height: 75px;
}
.nav-links{
    list-style-type: none;
    display: flex;
    gap: 25px;
}
.nav-links li a {
    text-decoration: none;
    color: #081F89;
    font-weight: 600;
    font-size: 14px;
}
.link-1{
    position: relative;
}
.dropdown{
    width: 250px;
    min-height: 0px;
    background-color: white;
    position: absolute;
    top: 52px;
    z-index: 10;
    border-top: 4px solid blue;
    box-shadow: 0.1px 0.1px 0.3px 0.2px;
    opacity: 0;
    transition-duration: 1s;
    display: grid;
    place-content: center;
    animation-timing-function: ease;
}
.ours{
    width: 150px;
    height: 0px;
    transition: all 0.6s;
    padding: 15px 5px;
    opacity: 0;
    display: none;
    transition-timing-function: ease;
}
.ours:hover{
    background-color: rgb(208, 201, 201);
}
.link-1:hover .dropdown-1{
    opacity: 1;
    min-height: 50px;
    z-index: 20;
}
.link-1:hover .dropdown-1 .ours{
    opacity: 1;
    min-height: 50px;
    display: block;
}
.dropdown-2{
    top: 80px;
}
.link-2:hover .dropdown-2{
    opacity: 1;
    min-height: 50px;
    z-index: 20;
}
.link-2:hover .dropdown-2 .ours{
    opacity: 1;
    min-height: 50px;
    display: block;
}
.dropdown-3{
    top: 80px;
}
.link-3:hover .dropdown-3{
    opacity: 1;
    min-height: 50px;
    z-index: 20;
}
.link-3:hover .dropdown-3 .ours{
    opacity: 1;
    min-height: 50px;
    display: block;
}
.dropdown-4{
    top: 80px;
}
.link-4:hover .dropdown-4{
    opacity: 1;
    min-height: 50px;
    z-index: 20;
}
.link-4:hover .dropdown-4 .ours{
    opacity: 1;
    min-height: 50px;
    display: block;
}
.ours2{
    padding-bottom: 80px;
    font-size: 10px;

}

.hero-section{
    min-height: 50dvh;
    margin-top: 100px;
    background-image: linear-gradient(to right,white, #FFFDF3);
}
.parent-div{
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
section .parent-div div{
    margin-top: 50px;
}
.img{
    height: 500px;
}
.hero-section .parent-div div h1{
    font-size: 60px;
    line-height: 65px;
    color: #000E42;
}
.hero-section .parent-div div p{
    margin-top: 10px;
    color: #5E676F;
}
.begin{
    padding: 17px 30px;
    border-radius: 12px;
    border: none;
    background-color: #00208A;
    color: white;
    font-weight: 500px;
    margin-top: 40px;
    position: relative;
}
.fa-angle-right{
    position: absolute;
    top: 20px;
    transform: translate(-40px);
    transition: all 0.3s;
    opacity: 0;

}
.begin:hover .fa-angle-right{
    transform: translate(5px);
    opacity: 1;
}
.start{
    width: 70%;
    margin: 50px auto;
    font-size: 40px;
    font-weight: 600;
    color: #050754;
}
.program{
    width: 70%;
    margin: auto;
    min-height: 50dvh;
    display: flex;
    gap: 50px;
    /* justify-content: space-between; */
}
.card{
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
    width: 310px;
}
.card img{
    width: 100%;
    filter: grayscale(100%);
}
.card h1{
    font-size: 20px;
    color: #050754;
    margin-top: 20px;
}
.card p{
    font-size: 15px;
    font-weight: 600;
    color: #5D697B;
    margin-top: 20px;
}

.card a{
    display: inline-block;
    margin-top: 50px;
    width: 100px;
    color: #34395A;
    text-decoration: none;
    border-bottom: 2px solid #5D697B;
    padding-bottom: 5px;
    align-self: start;
}

.details{
    width: 70%;
    display: flex;
    margin: 50px auto;
    gap: 50px;
}
.box{
    width: 310px;
    font-size: 16px;
}
.box h3{
    margin-bottom: 20px;
}
.box p{
    padding: 10px 0;
    border-bottom: 1px solid #97D1F9;
    color: #696A69;
}

.top-courses{
    width: 70%;
    /* border: 1px solid green; */
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.top-courses .container{
    /* border: 1px solid; */
    width: 48%;
    min-height: 70dvh;
}
.top-courses .container>div{
    /* border: 1px solid red; */
    min-height: 30dvh;
    border-radius: 10px;
    font-weight: 400;
    /* width: 95%; */
}
.container .box-text h1{
    font-size: 45px;
    color: #333333;
    margin-bottom: 10px;
}
.container .box-text a{
    display: inline-block;
    margin-top: 25px;
    font-weight: 600;
    font-size: 15px;
}
.container .box-se{
    background-color: #D5E9F2;
    box-shadow: 0px 30px 30px 20px #D7ECDC;
    padding: 50px;
    margin-top: 10px;
}
.container .box-design{
    background-color: #E0D5C0;
    box-shadow: 0px 30px 30px 20px #D7ECDC;
    padding: 50px;
    margin-top: 70px;
}
.container-se-inner>img{
    width: 100%;
    border-radius: 10px;
}
.container .box-dsa{
    background-color: #EEEFBD;
    box-shadow: 0px 30px 70px 0px #FFDFDA;
    padding: 50px;
    margin-top: 30px;
    border: 1px solid;
}
.container .box-dwp{
    background-color: #DFD5E8;
    box-shadow: 0px 30px 70px 0px #FFDFDA;
    padding: 50px;
    margin-top: 20px;
    border: 1px solid;
}
.our{
    width: 70%;
    margin: auto;
    color: #56483D;
    margin-top: 150px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 60%;
    margin: 50px auto;
}
.grid div img{
    width: 70%;
}
.prog{
    min-height: 40dvh;
    border: 1px solid green;
    margin-top: 100px;
    background: linear-gradient( to right, #d076c466, #000442) ,url(https://edu.sqi.ng/wp-content/uploads/2020/08/DSC_9054-scaled.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.inner-div{
    width: 70%;
    display: flex;
    margin: 50px auto;
    justify-content: center;
    gap: 50px;

    /* border: 1px solid red; */
}
.prog>div .imag{
    width: 100%;
    margin-top: 20px;
}
iframe{
    border-radius: 10px;
}
.text h1{
    color: white;
    font-size: 50px;
}
.text p{
    color: white;
}
.text button{
    border-radius: 30px;
    padding: 15px;
    background-color: blue;
    border: none;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}
.with{
    color: orange;
}
.test h1{
    font-size:50px;
    color: rgb(40, 30, 30);
    margin-left: 300px;
    margin-top: 40px;
}
.test p{
    margin-left: 270px;
}

.review{
    display: flex;
    width: 65%;
    margin: 50px auto;
    /* border: 1px solid; */
    gap: 20px;
    height: 30dvh;
}
.first{
    text-align: center;
    width: 20%;
}
.first .sqi{
    font-size: 13px;
    font-weight: 600;
}
.rating{
    color: orange;
    font-weight: 600;
}

.based{
    font-size: 13px;
}
.powered{
    font-size: 15px;
    color: rgb(75, 75, 75);
}
.G{
    color: blue;
    font-weight: bold;
}
.oo{
    color: red;
    font-weight: bold;
}
.o{
    color: orange;
    font-weight: bold;
}
.g{
    color: blue;
    font-weight: bold;
}
.l{
    color: green;
    font-weight: bold;
}
.e{
    color: red;
    font-weight: bold;
}
.first img{
    
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: auto;
}
.first button{
    background-color: rgb(72, 95, 184);
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}
.stars{
    color: orange;
    position: sticky;
    width: 100%;
    top: 1;
}
.omolimag img{
    width: 50px;
    height: 50px;
}
.second{
    width: 80%;
    /* border: 1px solid; */
    margin-left: 60px;
}

.header>div{
    display: flex;
    gap: 10px;
}
.header img{
    width: 60px;
}
.fa-star{
    color: orange;
}
.header a{
    text-decoration: none;
}
.header p{
    color: grey;
}
.second{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 30px;
}
.one{
    min-width: 50%;
    height: 100%;
    overflow-y: scroll;
    background-color: #FAFAFA;
}
.two{
    min-width: 50%;
    height: 100%;
    overflow-y: scroll;
    background-color: #FAFAFA;

}
.three{
    min-width: 50%;
    height: 100%;
    overflow-y: scroll;
    background-color: #FAFAFA;
}
.four{
    min-width: 50%;
    height: 100%;
    overflow-y: scroll;
    background-color: #FAFAFA;
}
.five{
    min-width: 50%;
    height: 100%;
    overflow-y: scroll;
    background-color: #FAFAFA;
}
.why-study{
    width: 72%;
    min-height: 135dvh;
    margin-top: 100px;
    margin: auto;
    /* border: 1px solid; */
    display: grid;
    column-gap: 20px;
    grid-template-columns: 2fr 1fr;
}
.why-study div h2{
    font-size: 35px;
    color: #333333;
}
.features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    margin-top: 50px;
}
.fa-atom{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.cardss h5{
    color: #534941;
    font-size: 20px;
}
.cardss p{
    font-size: 15px;
    margin-top: 10px;
    color: #747374;
}
.fa-book-open-reader{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.fa-water{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.fa-readme{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.fa-award{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.fa-comments{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.fa-briefcase{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.fa-book{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.laptop{
    border: 1px solid;
    height: 105dvh;
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/01/conference_image_15.jpg);
    background-size: cover;
    background-position: right;
    border: none;
}
.FAQ{
    min-height: 80dvh;
    width: 100%;
    background-color: #090326;
    margin-top: 0px;
}
.main-FAQ{
    width: 72%;
    margin: 0px auto;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}
.main-FAQ>div h2{
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}
.freq{
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 40px;
}

.contact {
    color: #D0A73F;
    font-size: 20px
}
.line{
    border: none;
    height: 2px;
    background-color: #D0A73F;
    width: 120px;
    margin-top: 5px;
}
.how{
    color: #D39B00;
    font-weight: 500;
    font-size: 20px;   
}
.how1{
    margin-top: 5px;
}
.we{
    display: inline-block;
    padding-top: 20px;
    color: white;
    font-weight: 500;
}
.lines3{
    border: none;
    height: 2px;
    background-color: #D39B00;
    margin-top: 15px;
}
.how2{
    margin-top: 40px;
}
.will{
    margin-top: 40px;
}
.time{
    width: 100%;
    min-height: 70dvh;
    background-color: #000B3F;
}
.main-time{
    width: 72%;
    margin: 0 auto;
    padding-top: 70px;
    color: white;
}
.its{
    text-transform: uppercase;
    font-weight: 600;
}
.main-time h1{
    font-size: 60px;
}
.we{
    margin-bottom: 20px;
}
.join{
    font-size: 15px;
    font-weight: 600;
}
.lagos{
    font-size: 15px;
    font-weight: 600;
}
.main-time button{
    margin-top: 30px;
    border-radius: 50px;
    border: none;
    padding: 15px;
    background-color: #00208A;
    color: white;
    font-weight: 600;
}
.head-news{
    background-color: #F0F1FF;
    /* margin-bottom: 50px; */
}
.news{
    min-height: 50dvh;
    width: 72%;
    /* border: 1px solid; */
    margin: 0px auto;
}
.header-news{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top: 50px;
}
.main-news{
    display: flex;
    justify-content: space-between;
}
.header-news h2{
    font-size: 40px;
}
.header-news button{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #00208A;
    border: none;
    color: white;
    font-weight: 600;
}
.contain{
    width: 32%;
    background-color: white;
    margin-bottom: 150px;
    box-shadow: 15px 15px 20px 20px #DCDEEC;
    /* border: 1px solid yellow; */
}
.contain1{
    min-height: 570px;
}
.imagee1{
    width: 100%;
    height: 200px;
    /* border: 1px solid blue; */
    background-image: url(https://sqi.edu.ng/wp-content/uploads/2026/02/SQI1816.jpg);
    background-size: cover;
    margin-bottom: 20px;
}

.contain .college{
    font-weight: 500;
    margin-top: 10px;
    font-size: 15px;
}
.jun{
    color: #F89193;
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
}
.dream{
    color: #6E6F71;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}
.bd{
    width: 90%;
    min-height: 50dvh;
    /* border: 1px solid; */
    margin: 0px auto;
}
.imagee2{
    width: 100%;
    height: 200px;
    background-image: url(https://sqi.edu.ng/wp-content/uploads/2026/02/IMG-20250712-WA0024.jpg);
    background-size: cover;
    margin-bottom: 20px;
}
.contain2{
    min-height: 570px;
}
.imagee3{
    width: 100%;
    height: 200px;
    background-image: url(https://sqi.edu.ng/wp-content/uploads/2025/11/SQI4348-convocation.jpg);
    background-size: cover;
    margin-bottom: 20px;
}
.contain3{
    min-height: 550px;
}
.main-list{
    width: 72%;
    min-height: 50dvh;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.list{
    width: 200px;
    min-height: 100px;
    /* border: 1px solid red; */
}
.list1 h5{
    color: #0A248A;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
}
.we-prov{
    font-weight: 500;
    margin-bottom: 20px;
}
.send{
    font-weight: 600;
    margin-bottom: 5px;
}
.font-icons{
    font-size: 15px;
}
.fa-facebook-f{
    margin-right: 20px;
}
.fa-x-twitter{
    margin-right: 20px;
}
.fa-linkedin-in{
    margin-right: 20px;
}
.fa-youtube{
    margin-right: 20px;
}
.fa-instagram{
    margin-right: 20px;
}
.list1 a{
    text-decoration: none;
    display: inline-block;
    color: #42abed;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
}
.list2 h5{
    font-size: 15px;
    margin-bottom: 25px;
}
.list2 p{
    color: gray;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.list3 h5{
    font-size: 15px;
    margin-bottom: 25px;

}
.list3 p{
    color: gray;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.list3 a{
    text-decoration: none;
    display: inline-block;
    color: #42abed;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
}
.list4 h5{
    font-size: 15px;
    margin-bottom: 25px;

}
.list4 p{
    color: gray;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.list4 a{
    text-decoration: none;
    display: inline-block;
    color: #42abed;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
}
.list5 h5{
    font-size: 15px;
    margin-bottom: 25px;

}
.list5 p{
    color: gray;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.list5 a{
    text-decoration: none;
    display: inline-block;
    color: #42abed;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
}

footer{
    background-color: #050044;
    height: 40px;
}
footer>div{
    width: 72%;
    height: 40px;
    margin: 0px auto;
}
footer>div p{
    padding-top: 15px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}


.icon{
    display: none;
}
.say{
    display: none;
}
.world{
    display: none;
}
@media (max-width:768px) {
    .whatsapp{
        display: flex;
        position: fixed;
        align-items: center;
        top: 580px;
        left: 15px;
        z-index: 10;
    }
    .whatsapp img{
        height: 60px;
    }
    .whatsapp p{
        font-size: 10px;
    }
    .parag{
        background-color: whitesmoke;
        padding: 4px 4px;
    }
    .parag span{
        font-weight: bold;
        color: rgb(54, 54, 68);
    }
    nav{
    width: 85%;
    min-height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    }
    .fa-angle-down{
        margin-left: 5px;
        font-size: 12px;
    }
    .logo{
        height: 40px;
    }
    .nav-links{
        display: none;
    }
    .icon{
        display: block;
        font-size: 25px;
        color: rgb(152, 152, 246);
    }
    .main-list{
        display: none;
    }
    .parent-div{
        display: block;
        width: 85%;
        padding-top: 10px;
    }
    .become2{
        display: none;
    }
    .industry{
        display: none;
    }
    .img{
        height: 95dvh;
    }
    .start{
        width: 85%;
        font-size: 30px;
    }
    .program{
        width: 85%;
        display: block;
    }
    .card{
        width: 100%;
    }
    .details{
        width: 85%;
        display: block;
    }
    .box{
        width: 100%;
        margin-bottom: 50px;
    }
    .top-courses{
        width: 85%;
        display: block;
    }
    .top-courses .container{
        /* border: 1px solid; */
        width: 100%;
        min-height: 70dvh;
    }
    .our{
        width: 40%;
        margin: 10px 0px 0px 60px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 75%;
        margin: 50px auto;
        column-gap: 100px;
    }

    .grid div img{
        width: 80%;
    }
    .inner-div{
        display: block;
    }
    .text h1{
        font-size: 35px;
        margin-top: 15px;
    }
    .test h1{
        font-size:30px;
        color: rgb(40, 30, 30);
        margin-left: 30px;
        margin-top: 40px;
    }
    .test p{
        margin-left: 15px;
        font-weight: 300;
    }
    .say{
        display: block;
    }
    .experience{
        display: none;
    }
    .review{
        width: 70%;
    }
    .first{
        width: 50%;
    }
    .second{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .one{
        width: 100%;
    }
    .two{
        width: 100%;
    }
    .three{
        width: 100%;
    }
    .four{
        width: 100%;
    }
    .five{
        width: 100%;
    }

    .why-study{
        width: 85%;
        display: block;
    }
    .features{
        display: block;
    }
    .cardss{
        width: 100%;
        margin-bottom: 20px;
    }
    .learning{
        display: none;
    }
    .real{
        display: none;
    }
    .world{
        display: block;
    }
    .your{
        display: none;
    }
    .main-FAQ{
        width: 85%;
        display: block;
    }
    .laptop{
        height: 50dvh;
    }
    .time{
        display: block;
        padding-bottom: 70px;
    }
    .main-time{
        width: 85%;
        
    }
    .head-news{
        display: block;
    }
    .main-news{
        flex-wrap: wrap;
    }
    .contain{
        width: 48%;
    }
    .news{
        width: 85%;
    }
    .foots{
        display: block;
    }
    .foot-sect{
        display: block;
    }
    .main-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 85%;
        margin-bottom: 30px;
    }
    .list{
        margin-bottom: 30px;
    }
    footer{
        height: 70px;
    }
    footer div{
        width: 85%;
    }

}

