@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    width: 100%;
    box-shadow: 0px 0.2px 0.15px 0.2px;
    border: 1px solid #F2F1EE;
    position: fixed;
    background-color: white;
    z-index: 1;
    top: 0;
}
nav{
    width: 70%;
    min-height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-angle-down{
    margin-left: 5px;
    font-size: 12px;
}
.logo{
    height: 75px;
}
.nav-links{
    list-style-type: none;
    display: flex;
    gap: 25px;
}
.nav-links li a {
    text-decoration: none;
    color: #081F89;
    font-weight: 600;
    font-size: 14px;
}
.hero-section{
    min-height: 50dvh;
    margin-top: 100px;
    background-image: linear-gradient(to right,white, #FFFDF3);
}
.parent-div{
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
section .parent-div div{
    margin-top: 50px;
}
.img{
    height: 500px;
}
.hero-section .parent-div div h1{
    font-size: 60px;
    line-height: 65px;
    color: #000E42;
}
.hero-section .parent-div div p{
    margin-top: 10px;
    color: #5E676F;
}
.hero-section .parent-div div button{
    padding: 17px 30px;
    border-radius: 12px;
    border: none;
    background-color: #00208A;
    color: white;
    font-weight: 500px;
    margin-top: 40px;
}
.start{
    width: 70%;
    margin: 50px auto;
    font-size: 40px;
    font-weight: 600;
    color: #050754;
}
.program{
    width: 70%;
    margin: auto;
    min-height: 50dvh;
    display: flex;
    gap: 50px;
    /* justify-content: space-between; */
}
.card{
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
    width: 310px;
}
.card img{
    width: 100%;
    filter: grayscale(100%);
}
.card h1{
    font-size: 20px;
    color: #050754;
    margin-top: 20px;
}
.card p{
    font-size: 15px;
    font-weight: 600;
    color: #5D697B;
    margin-top: 20px;
}

.card a{
    display: inline-block;
    margin-top: 50px;
    width: 100px;
    color: #34395A;
    text-decoration: none;
    border-bottom: 2px solid #5D697B;
    padding-bottom: 5px;
    align-self: start;
}

.details{
    width: 70%;
    display: flex;
    margin: 50px auto;
    gap: 50px;
}
.box{
    width: 310px;
    font-size: 16px;
}
.box h3{
    margin-bottom: 20px;
}
.box p{
    padding: 10px 0;
    border-bottom: 1px solid #97D1F9;
    color: #696A69;
}

.top-courses{
    width: 70%;
    /* border: 1px solid green; */
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.top-courses .container{
    /* border: 1px solid; */
    width: 48%;
    min-height: 70dvh;
}
.top-courses .container>div{
    /* border: 1px solid red; */
    min-height: 30dvh;
    border-radius: 10px;
    font-weight: 400;
    /* width: 95%; */
}
.container .box-text h1{
    font-size: 45px;
    color: #333333;
    margin-bottom: 10px;
}
.container .box-text a{
    display: inline-block;
    margin-top: 25px;
    font-weight: 600;
    font-size: 15px;
}
.container .box-se{
    background-color: #D5E9F2;
    box-shadow: 0px 30px 30px 20px #D7ECDC;
    padding: 50px;
    margin-top: 10px;
}
.container .box-design{
    background-color: #E0D5C0;
    box-shadow: 0px 30px 30px 20px #D7ECDC;
    padding: 50px;
    margin-top: 70px;
}
.container-se-inner>img{
    width: 100%;
    border-radius: 10px;
}
.container .box-dsa{
    background-color: #EEEFBD;
    box-shadow: 0px 30px 70px 0px #FFDFDA;
    padding: 50px;
    margin-top: 30px;
    border: 1px solid;
}
.container .box-dwp{
    background-color: #DFD5E8;
    box-shadow: 0px 30px 70px 0px #FFDFDA;
    padding: 50px;
    margin-top: 20px;
    border: 1px solid;
}
.our{
    width: 70%;
    margin: auto;
    color: #56483D;
    margin-top: 150px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 60%;
    margin: 50px auto;
}
.grid div img{
    width: 70%;
}
.prog{
    min-height: 40dvh;
    border: 1px solid green;
    margin-top: 100px;
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2020/08/DSC_9054-scaled.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.inner-div{
    width: 70%;
    display: flex;
    margin: 50px auto;
    justify-content: center;
    gap: 50px;

    /* border: 1px solid red; */
}
.prog>div img{
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}
.text h1{
    color: white;
    font-size: 50px;
}
.text p{
    color: white;
}
.text button{
    border-radius: 30px;
    padding: 15px;
    background-color: blue;
    border: none;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}
.with{
    color: orange;
}
.test h1{
    font-size:50px;
    color: rgb(40, 30, 30);
    margin-left: 300px;
    margin-top: 40px;
}
.test p{
    margin-left: 270px;
}

.review{
    display: flex;
    width: 65%;
    margin: 50px auto;
    /* border: 1px solid; */
    gap: 20px;
    height: 30dvh;
}
.first{
    text-align: center;
    width: 20%;
}
.first .sqi{
    font-size: 13px;
    font-weight: 600;
}
.rating{
    color: orange;
    font-weight: 600;
}

.based{
    font-size: 13px;
}
.powered{
    font-size: 15px;
    color: rgb(75, 75, 75);
}
.G{
    color: blue;
    font-weight: bold;
}
.oo{
    color: red;
    font-weight: bold;
}
.o{
    color: orange;
    font-weight: bold;
}
.g{
    color: blue;
    font-weight: bold;
}
.l{
    color: green;
    font-weight: bold;
}
.e{
    color: red;
    font-weight: bold;
}
.first img{
    
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: auto;
}
.first button{
    background-color: rgb(72, 95, 184);
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}
.stars{
    color: orange;
    position: sticky;
    width: 100%;
    top: 1;
}
.omolimag img{
    width: 50px;
    height: 50px;
}
.second{
    width: 80%;
    /* border: 1px solid; */
    margin-left: 60px;
}

.header>div{
    display: flex;
    gap: 10px;
}
.header img{
    width: 60px;
}
.fa-star{
    color: orange;
}
.header a{
    text-decoration: none;
}
.header p{
    color: grey;
}
.second{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 30px;
}
.one{
    min-width: 50%;
    height: 100%;
    overflow-y: scroll;
    background-color: #FAFAFA;
}
.two{
    min-width: 50%;
    height: 100%;
    overflow-y: scroll;
    background-color: #FAFAFA;

}
.three{
    min-width: 50%;
    height: 100%;
    overflow-y: scroll;
    background-color: #FAFAFA;
}
.four{
    min-width: 50%;
    height: 100%;
    overflow-y: scroll;
    background-color: #FAFAFA;
}
.five{
    min-width: 50%;
    height: 100%;
    overflow-y: scroll;
    background-color: #FAFAFA;
}
.why-study{
    width: 72%;
    height: 135dvh;
    margin-top: 100px;
    margin: auto;
    /* border: 1px solid; */
    display: grid;
    column-gap: 20px;
    grid-template-columns: 2fr 1fr;
}
.why-study div h2{
    font-size: 35px;
    color: #333333;
}
.features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    margin-top: 50px;
}
.fa-atom{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.cardss h5{
    color: #534941;
    font-size: 20px;
}
.cardss p{
    font-size: 15px;
    margin-top: 10px;
    color: #747374;
}
.fa-book-open-reader{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.fa-water{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.fa-readme{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.fa-award{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.fa-comments{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.fa-briefcase{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.fa-book{
    font-size: 30px;
    margin-bottom: 25px;
    color: #666666;
}
.laptop{
    border: 1px solid;
    height: 105dvh;
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/01/conference_image_15.jpg);
    background-size: cover;
    background-position: right;
    border: none;
}
.FAQ{
    height: 80dvh;
    width: 100%;
    background-color: #090326;
    margin-top: 0px;
}
.main-FAQ{
    width: 72%;
    margin: 0px auto;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}
.main-FAQ>div h2{
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}
.freq{
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 40px;
}

.contact {
    color: #D0A73F;
    font-size: 20px
}
.line{
    border: none;
    height: 2px;
    background-color: #D0A73F;
    width: 120px;
    margin-top: 5px;
}
.how{
    color: #D39B00;
    font-weight: 500;
    font-size: 20px;   
}
.how1{
    margin-top: 5px;
}
.we{
    display: inline-block;
    padding-top: 20px;
    color: white;
    font-weight: 500;
}
.lines3{
    border: none;
    height: 2px;
    background-color: #D39B00;
    margin-top: 15px;
}
.how2{
    margin-top: 40px;
}
.will{
    margin-top: 40px;
}
.time{
    width: 100%;
    height: 70dvh;
    background-color: #000B3F;
}
.main-time{
    width: 72%;
    margin: 0 auto;
    padding-top: 70px;
    color: white;
}
.its{
    text-transform: uppercase;
    font-weight: 600;
}
.main-time h1{
    font-size: 60px;
}
.we{
    margin-bottom: 20px;
}
.join{
    font-size: 15px;
    font-weight: 600;
}
.lagos{
    font-size: 15px;
    font-weight: 600;
}
.main-time button{
    margin-top: 30px;
    border-radius: 50px;
    border: none;
    padding: 15px;
    background-color: #00208A;
    color: white;
    font-weight: 600;
}
.head-news{
    background-color: #F0F1FF;
    /* margin-bottom: 50px; */
}
.news{
    min-height: 50dvh;
    width: 72%;
    /* border: 1px solid; */
    margin: 0px auto;
}
.header-news{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top: 50px;
}
.main-news{
    display: flex;
    justify-content: space-between;
}
.header-news h2{
    font-size: 40px;
}
.header-news button{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #00208A;
    border: none;
    color: white;
    font-weight: 600;
}
.contain{
    width: 32%;
    background-color: white;
    margin-bottom: 150px;
    box-shadow: 15px 15px 20px 20px #DCDEEC;
    /* border: 1px solid yellow; */
}
.contain1{
    height: 570px;
}
.imagee1{
    width: 100%;
    height: 200px;
    /* border: 1px solid blue; */
    background-image: url(https://sqi.edu.ng/wp-content/uploads/2026/02/SQI1816.jpg);
    background-size: cover;
    margin-bottom: 20px;
}

.contain .college{
    font-weight: 500;
    margin-top: 10px;
    font-size: 15px;
}
.jun{
    color: #F89193;
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
}
.dream{
    color: #6E6F71;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}
.bd{
    width: 90%;
    min-height: 50dvh;
    /* border: 1px solid; */
    margin: 0px auto;
}
.imagee2{
    width: 100%;
    height: 200px;
    background-image: url(https://sqi.edu.ng/wp-content/uploads/2026/02/IMG-20250712-WA0024.jpg);
    background-size: cover;
    margin-bottom: 20px;
}
.contain2{
    height: 570px;
}
.imagee3{
    width: 100%;
    height: 200px;
    background-image: url(https://sqi.edu.ng/wp-content/uploads/2025/11/SQI4348-convocation.jpg);
    background-size: cover;
    margin-bottom: 20px;
}
.contain3{
    height: 550px;
}